body {
    background-image: url(../img/pattern5.jpg);

}
nav {
    border: 5px solid red;

}
nav img{
    width:5%;
}



.title {
    border: 5px solid black;
    width: 800px;
    margin: 0 auto;
    background: red
}

.title a{
    color: white;
}

h1{
   color:white;
    margin: 0 auto;
}



.btn_container {
    width: 150px;
    margin: 0 auto;
}

.btn {
    width:120px;
    border-radius: 15px;
    padding:5px;
}


.mainimg{
    height:800px;
    margin: 0 auto;
}

table img{
    width: 80px;
}


.card{
    border: 10px solid red;
    height: 100%;
  }


    .card img {
        height: 250px;
        border:5px solid black;
        width:80%;
        margin: 0 auto;
        margin-top:20px;
        object-fit: cover;
      
    }

    .detailpizza{
        border: 10px solid red;
        width:50%
    }

    .singleimage img{
        border: 10px solid black;
    }

    .singledescription{
        border: 10px solid black;
    }

    form div{
       color: white;
       margin: 0 auto;
       background-color: red;
    }

    

   
 .errorimage{
        margin: 0 auto;
        width: 600px;
 }

    .errorpage img{
    
     width:100%;
    border: 5px solid black;
    }

    .errormessage{
        height:80px;
        margin: 0 auto;
        border: 5px solid black;
        background-color:red;
        line-height:100px;

    }

 footer{
    height: 50px;
    border: 5px solid red;
    margin-top:20px;
}
footer a{
    color: black;
    text-decoration:none;
}