@{
    Layout = "_MioLayout";
}


<div class="errorpage">

    <div class="errorimage mb-4"> <img src="\img\angry.jpg" /></div>
   

    <div class="errormessage w-50 mt-4">
        <h1 class="text-center">404 FILE NOT FOUND</h1>
    </div>

</div>

